/*
  ==========================================================================
  Sigma Web Development Course - Video 136
  Topic: Project: BitLinks - URL Shortener App
  File: globals.css
  
  Description:
    Full-stack URL shortener application with short link generation, redirection routes, and MongoDB.
  ==========================================================================
*/
@tailwind base;
@tailwind components;
@tailwind utilities;
