/*
  ==========================================================================
  Sigma Web Development Course - Video 135
  Topic: Styling Strategies in Next.js
  File: Home.module.css
  
  Description:
    Exploring CSS Modules (.module.css), Tailwind CSS, and global styles in Next.js applications.
  ==========================================================================
*/
.red{
    color: red;
}