/*
  ==========================================================================
  Sigma Web Development Course - Video 009
  Topic: HTML ID & Class Selectors
  File: style.css
  
  Description:
    Demonstrates assigning identifiers (id) and classes (class) to HTML elements for targeting with CSS.
  ==========================================================================
*/
.red{
 color: red;
}

.bg-yellow{
    background-color: yellow;
}

#firstdiv{
    /* background-color: red; */
}