/*
  ==========================================================================
  Sigma Web Development Course - Video 002
  Topic: First Website & Document Structure
  File: style.css
  
  Description:
    Introduction to HTML document skeleton, headings, paragraphs, and linking basic CSS/JS.
  ==========================================================================
*/
/* Base Page Styling: Sets font, background, and default text color */
body{
    background-color: red;
    color: white;
}