/*
  ==========================================================================
  Sigma Web Development Course - Video 131
  Topic: Project: GetMeAChai - Crowdfunding Platform
  File: globals.css
  
  Description:
    Full-stack creator funding platform with Razorpay payment integration, NextAuth, and MongoDB.
  ==========================================================================
*/
@tailwind base;
@tailwind components;
@tailwind utilities;

.invertImg{
    filter: invert(0.23)
}