/*
  ==========================================================================
  Sigma Web Development Course - Video 105
  Topic: Introduction to React.js
  File: index.css
  
  Description:
    Why React: Understanding Single Page Applications, Virtual DOM, JSX, and component-based architecture.
  ==========================================================================
*/
/* Base Page Styling: Sets font, background, and default text color */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
