/*
  ==========================================================================
  Sigma Web Development Course - Video 008
  Topic: Inline vs Block Elements
  File: style.css
  
  Description:
    Explains the fundamental distinction between block-level elements (div, p) and inline elements (span, a).
  ==========================================================================
*/
p{
    background-color: aquamarine;
}

a{
    background-color: rgb(242, 160, 122);
}

div{
    background-color: yellow;
}

span{
    background-color: rgb(198, 165, 230);
}