/*
  ==========================================================================
  Sigma Web Development Course - Video 106
  Topic: React Components, Props & JSX
  File: Footer.css
  
  Description:
    Creating reusable functional components, passing data via props, and JSX templating rules.
  ==========================================================================
*/
.footer{
    text-align: center; 
    background-color: rgb(41, 38, 38);
    color: white;
    width: 100%;
    position: fixed;
    bottom: 0; 
}