/*
  ==========================================================================
  Sigma Web Development Course - Video 106
  Topic: React Components, Props & JSX
  File: Navbar.css
  
  Description:
    Creating reusable functional components, passing data via props, and JSX templating rules.
  ==========================================================================
*/
nav, ul{
    display: flex;
}


li{
    list-style-type: none;
}

ul{
    gap: 34px;
}

nav{
    background-color: beige;
    padding: 23px;
}