/*
  ==========================================================================
  Sigma Web Development Course - Video 101
  Topic: Project: X (Twitter) UI Clone
  File: input.css
  
  Description:
    Responsive recreation of the X/Twitter desktop and mobile web interface with Tailwind CSS.
  ==========================================================================
*/
@tailwind base;
@tailwind components;
@tailwind utilities; 